.hESearchBox{
  width: 100% !important;
  padding-right: 0px;
  border-radius: 0px;

}
.btn-zero-radius {
  border-radius: 0px;
}

.hEBox {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.hEBox-match {
    left: 34%;
    width: 31%;
}

.cancel {
  color:red;
  text-align: center;
  padding-top: 5px;
}

.matches-body {
  padding: 2% 0 0 4%;
}
.list-match {
  min-height: 140px;
  margin-bottom: 2px;
  width: 65%;
}
.match-img {
  margin-right: 30px;
}
.match-info {
  margin-top: 1%;
}
li h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
li {list-style-type: none;}