<!-- <div class="container-fluid matches-body">
  <div class="row-fluid col-md-12" ng-repeat='event in events'>
    <div class="col-md-2">
      img
      {{event.image}}
    </div>
    <div class="col-md-9">
      <div class="row-fluid">
        <h3>{{event.title}}</h3>
      </div>
      <div class="row-fluid">
        {{event.description}}
      </div>
    </div>
  </div>
</
 -->

 <div class="container-fluid matches-body" ng-controller='MatchesCtrl'>
  <div class="container-fluid">
    <!-- <ng-include src="'js/angular/templates/matches/left_sidebar.html'" scope="" onload=""></ng-include> -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="matches-filter-sidebar">
  <div class="row-fluid">
    <h4>Filter Match Search</h4>
    <h5>Select City</h5>
    <select class="form-control" ng-model="city_selected" ng-options="city for city in matches_cities | orderBy : 'toString()'"></select>
  </div>
  <div class="row-fluid">
    <h5>Select Categories</h5>
    <li class="" ng-repeat="category in categories | orderBy : 'toString()'">
      <input type='checkbox' value={{category}} ng-checked="category_selected.indexOf(category) > -1" ng-click="toggleSelection(category)">
      <small>{{category}}</small>
    </li>
  </div>
</div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <ul class="list-matches" infinite-scroll='loadMatches()' infinite-scroll-disabled="scrollLoadDisable" infinite-scroll-distance='0' >
        <li class='list-match row-fluid' ng-repeat='match in matches | inCity: city_selected | hasCategory: categories_selected'>
          <a href="#/matches/match.id" class="pull-left match-img"><img src="images/Cricketer-1.gif" height="140" width="130"></a>
          <a ng-href="#/matches/{{match._id}}"><h3>{{match.title}}</h3></a>
          <div class="match-description">{{match.description}}</div>
          <div class="row-fluid">
            <span class="match-info city-text">{{match.where.city}}, {{match.when | date:'medium'}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
