<!-- <div class="container-fluid matches-body">
  <div class="row-fluid col-md-12" ng-repeat='event in events'>
    <div class="col-md-2">
      img
      {{event.image}}
    </div>
    <div class="col-md-9">
      <div class="row-fluid">
        <h3>{{event.title}}</h3>
      </div>
      <div class="row-fluid">
        {{event.description}}
      </div>
    </div>
  </div>
</
 -->

<div class="container-fluid matches-body">
  <ul class="list-matches" >
    <li class='list-match row-fluid' ng-repeat='match in events | orderBy:when | inCity: city_selected'>
      <a href="#/matches/match.id" class="pull-left match-img"><img src="images/Cricketer-1.gif" height="140" width="130"></a>
      <a ng-href="#/matches/{{match._id}}"><h3>{{match.title}}</h3></a>
      <div class="match-description">{{match.description}}</div>
      <div class="match-info pull-right">{{match.where.city}}, {{match.when | date:'medium'}}</div>
    </li>
  </ul>
</div>
